beautifulsoup4
flatdict
lxml --only-binary=lxml
netifaces
psutil
pymysql
PySmbClient
python-keystoneclient
python-novaclient
python-swiftclient
pywinrm
requests
smbprotocol
vici
xmltodict
python-apt @ git+https://salsa.debian.org/apt-team/python-apt.git@2.7.5